<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example1.mycanteen"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Workerlogin"
            android:label="@string/title_activity_workerlogin" >
        </activity>
        <activity
            android:name=".Studentchoose"
            android:label="@string/title_activity_studentchoose" >
        </activity>
        <activity
            android:name=".CanteenpageFragment"
            android:label="@string/title_activity_canteenpage_fragment" >
        </activity>
        <activity
            android:name=".CanteenlistFragment"
            android:label="@string/title_activity_canteenlist_fragment" >
        </activity>
        <activity
            android:name=".Bookcanteen"
            android:label="@string/title_activity_bookcanteen" >
        </activity>
        <activity
            android:name=".Leavemessage"
            android:label="@string/title_activity_leavemessage" >
        </activity>
        <activity
            android:name=".Birthdaybook"
            android:label="@string/title_activity_birthdaybook" >
        </activity>
        <activity
            android:name=".Lookthroughdetail"
            android:label="@string/title_activity_lookthroughdetail" >
        </activity>
        <activity
            android:name=".Givecomment"
            android:label="@string/title_activity_givecomment" >
        </activity>
        <activity
            android:name=".Lookthroughmenu"
            android:label="@string/title_activity_lookthroughmenu" >
        </activity>
        <activity
            android:name=".Menudetail"
            android:label="@string/title_activity_menudetail" >
        </activity>
        
        <activity android:name=".LoginSuccess" >
        </activity>
        <activity android:name=".WorkerRegister" >
        </activity>
        <activity android:name=".AddMenu" >
        </activity>
        <activity android:name=".ReleaseAnnouncement" >
        </activity>
        <activity android:name=".ViewMassage" >
        </activity>
        <activity android:name=".CheckBirthday" >
        </activity>
        <activity android:name=".CheckAppointment" >
        </activity>
        <activity android:name=".ExistingMenu" >
        </activity>
        <activity android:name=".NewMenu" >
        </activity>
    </application>

</manifest>
